header {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Ajusta la altura según necesites */
  }
  .contenedor {
    display: flex;
    height: 830px; /* Para que ocupe toda la pantalla */
}

.izquierda {
    width: 50%; /* Ocupa la mitad izquierda */
    display: flex;
    flex-direction: column; /* Apila los divs en columna */
}

.izquierda div {
    flex: 1; /* Para que ambos ocupen la mitad de la izquierda */
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.derecha {
    width: 50%; /* Ocupa la mitad derecha */
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

